:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #163561;
  --sky: #99baed;
  --yellow: #FBB400;
}

/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer;
}

/* General */
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: var(--sky);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  padding: 23px 33px;
  border-radius: 20px;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 10px 10px 20px #99BAED80;
}

/* Head */
.head .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.head .container .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.head .container .left .menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: -10px;
}

.head .container .left .menu li {
  font-weight: 500;
  font-size: 25px;
  color: var(--blue);
  padding: 57px 14px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.head .container .left .menu li:hover {
  background: var(--sky);
  color: var(--white);
  border-radius: 0 0 5px 5px;
}

.head .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.head .container .right .burger {
  font-size: 28px;
  color: var(--sky);
  cursor: pointer;
  display: none;
}

/* Media */
@media(max-width: 1180px) {

  .head .container .left,
  .head .container .right {
    gap: 50px;
  }
}

@media(max-width: 1050px) {
  .head .container {
    align-items: center;
  }

  .head .container .left .menu,
  .head .container .right .btn {
    display: none;
  }

  .head .container .right .burger {
    display: block;
  }
}

@media(max-width: 500px) {
  .head .container .left .logo img {
    width: 120px;
  }

  .head .container .right img {
    width: 40px;
  }
}

/* Hero */
.hero {
  margin: 60px 0;
  padding: 40px 0 80px;
  background: url(images/hero-img.png) no-repeat right / contain;
}

.hero .container .left .title {
  font-size: 75px;
  color: var(--blue);
  line-height: 100px;
  width: 576px;
}

.hero .container .left .title span {
  color: var(--yellow);
}

.hero .container .left .subtitle {
  font-size: 25px;
  letter-spacing: 3%;
  color: var(--blue);
  width: 526px;
  opacity: 65%;
  margin: 20px 0 50px;
}