:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #163561;
  --sky: #99baed;
  --yellow: #FBB400;
}

/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer;
}

/* General */
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  background: url(images/effect-bg.png) no-repeat bottom / contain;
}

.container {
  width: 100%;
  max-width: 1590px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: var(--sky);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  padding: 23px 33px;
  border-radius: 20px;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 10px 10px 20px #99BAED80;
}

.title {
  font-size: 75px;
  color: var(--blue);
  line-height: 100px;
}

.title span {
  color: var(--yellow);
}

.subtitle {
  font-size: 25px;
  letter-spacing: 3%;
  color: var(--blue);
  opacity: 65%;
  margin: 20px 0 50px;
}

/* Head */
.head .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.head .container .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.head .container .left .menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: -10px;
}

.head .container .left .menu li {
  font-weight: 500;
  font-size: 25px;
  color: var(--blue);
  padding: 57px 14px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.head .container .left .menu li:hover {
  background: var(--sky);
  color: var(--white);
  border-radius: 0 0 5px 5px;
}

.head .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.head .container .right .burger {
  font-size: 28px;
  color: var(--sky);
  cursor: pointer;
  display: none;
}

/* Media */
@media(max-width: 1180px) {

  .head .container .left,
  .head .container .right {
    gap: 50px;
  }
}

@media(max-width: 1050px) {
  .head .container {
    align-items: center;
  }

  .head .container .left .menu,
  .head .container .right .btn {
    display: none;
  }

  .head .container .right .burger {
    display: block;
  }
}

@media(max-width: 500px) {
  .head .container .left .logo img {
    width: 120px;
  }

  .head .container .right img {
    width: 40px;
  }
}

/* Hero */
.hero {
  margin: 60px 0;
  padding: 40px 0 80px;
  background: url(images/hero-img.png) no-repeat right / contain;
}

.hero .container .left .title {
  max-width: 576px;
}

.hero .container .left .subtitle {
  max-width: 526px;
}

/* Media */
@media(max-width: 1440px) {
  .hero {
    background: none;
  }
}

@media(max-width: 835px) {
  .hero {
    background: none;
    margin: 0;
  }

  .hero .container .left .title {
    font-size: 55px;
  }

  .hero .container .left .subtitle {
    font-size: 22px;
  }
}

/* History */
.history .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.history .container .image-block {
  width: 800px;
  height: 800px;
}

.history .container .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history .container .text-content {
  width: 562px;
}

/* Media */
@media (max-width: 1392px) {
  .history .container .image-block {
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 1242px) {
  .history .container .image-block {
    max-width: 550px;
  }
}

@media (max-width: 1140px) {
  .history .container {
    justify-content: center;
  }
}

@media (max-width: 1090px) {
  .history .container .text-content {
    max-width: 500px;
  }

  .history .container .text-content .title {
    font-size: 50px;
  }

  .history .container .text-content .subtitle {
    font-size: 22px;
  }
}

/* Services */
.services .container .title {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.services .container .wrapper {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.services .container .wrapper .card {
  width: 441px;
  background: #FAFBFF;
  color: var(--blue);
  text-align: center;
  padding: 50px 41px 72px;
  border-radius: 30px;
  box-shadow: 0px 1px 0px 0px #008FDD;
  transition: 0.3s;
}

.services .container .wrapper .card:hover {
  background: #99BAED;
  color: var(--white);
  box-shadow: 20px 20px 10px #D4E5FF;
}

.services .container .wrapper .card .img-block {
  width: 103px;
  height: 126px;
  border-radius: 13px;
  background: #E5ECFE;
  box-shadow: 0px 1px 0px 0px #008FDD;
  padding: 30px 20px;
  margin: 0 auto;
}

.services .container .wrapper .card .name {
  margin: 60px 0;
  font-size: 45px;
}

.services .container .wrapper .card .text {
  font-size: 25px;
  opacity: 65%;
}

/* Gallery */
.gallery {
  text-align: center;
  margin: 70px 0;
}

.gallery .container .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 70px 0;
  position: relative;
}

.gallery .container .images .image {
  width: 435px;
  height: 435px;
  position: relative;
  overflow: hidden;
}

.gallery .container .images .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* .gallery .container .images .image::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translateY(-100%);
  background: #5296FF59;
  transition: 0.3s;
} */


/* .gallery .container .images .image:hover::after{
  transform: translateX(0%);
} */

.gallery .container .images .image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #5296FF59;
  transition: 0.3s;
}

.gallery .container .images .image:hover img {
  transform: scale(1.2);
}

.gallery .container .btn {
  position: relative;
}

/* Footer */
.footer {
  text-align: center;
  padding: 100px 0;
}

.footer .container {
  border-bottom: 1px solid var(--sky);
  padding-bottom: 47px;
}

.footer .container .subtitle {
  max-width: 525px;
  margin: 40px auto;
}

.footer .container .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer .container .socials .icon {
  width: 67px;
  height: 67px;
  background: #D3E5FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--white);
  transition: 0.2s;
  cursor: pointer;
}

.footer .container .socials .icon:hover {
  background: var(--sky);
}