:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #163561;
    --sky: #99baed;
}

/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer;
}

/* General */
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.container {
  width: 1560px;
  margin: 0 auto;
}

/* Head */
.head .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.head .container .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}
.head .container .left .menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  position: relative;
  top: -10px;
}

.head .container .left .menu li {
  font-weight: 500;
  font-size: 25px;
  color: var(--blue);
  padding: 57px 14px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.head .container .left .menu li:hover {
  background: var(--sky);
  color: var(--white);
  border-radius: 0 0 5px 5px;
}

.head .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.head .container .right .btn {
  background: var(--sky);
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  padding: 23px 33px;
  border-radius: 20px;
  transition: 0.3s;
}

.head .container .right .btn:hover{
    box-shadow: 10px 10px 20px #99BAED80;
}
